{% extends 'layout.html' %}

{% block players %}
    {% for player in players_cards %}
        <li class="list-group-item"><b>{{ player.name }}: </b> {{ player.cards_left }} cards left</li>
    {% endfor %}
{% endblock players %}

{% block current_card %}
    <img class="img-responsive" src="{{ card_on_table }}" width="250" height="363">
{% endblock current_card %}

{% block player_cards %}
    {% for card in player_deck %}
    <img class="img-responsive" src="{{ card }}" href="#" width="100" height="145">
    {% endfor %}
{% endblock player_cards %}
