{% extends 'layout.html' %}

{% block players %}
    {% for player in players_cards %}
        <li class="list-group-item"><b>{{ player.name }}: </b> {{ player.cards_left }} cards left</li>
    {% endfor %}
{% endblock players %}

{% block current_card %}
    <img class="img-responsive" src="{{ card_on_table.image }}" width="250" height="363" cardId="{{ card_on_table.id }}">
{% endblock current_card %}

{% block player_cards %}
    {% for card in player_deck %}
    <a href="#"><img class="img-responsive playerCard" src="{{ card.image }}" width="100" height="145" cardId="{{ card.id }}"></a>
    {% endfor %}
{% endblock player_cards %}
